doctype html
html(lang='en')
  include ./partials/_head.jade
  body
    include ./partials/_nav.jade
    block content
    
    
    
    
    script(src='js/jquery.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.easing.min.js')
    script(src='/js/jquery.fittext.js')
    script(src='/js/master.js')
    
      
